<!doctype html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List </title>
</head>
<body>
<h1>List Product</h1>
<table>
    <thead>
    <tr>
        <th>prodID</th>
        <th>prodName</th>
        <th>description</th>
        <th>dateOfManf</th>
        <th>price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="st: ${listProduct} " >
        <td th:text="${st.prodID}"></td>
        <td th:text="${st.prodName}"></td>
        <td th:text="${st.description}"></td>
        <td th:text="${st.dateOfManf}"></td>
        <td th:text="${st.price}"></td>
    </tr>
    </tbody>
</table>
<ul>

    <div class="container">
        <div class="">
            <h4 class="text-center">List Sale</h4>
            <table class="table" style="height: 500px;">
                <thead class="table-info">
                <tr  class="text-center">
                    <th scope="col">Mã</th>
                    <th scope="col">SalesMan ID</th>
                    <th scope="col" style="width: 10%">Product ID</th>
                    <th scope="col">SalesMan Name</th>
                    <th scope="col">Date Of Sale</th>

                </tr>
                </thead>
                <tbody>

                <tr th:each="st1: ${listSale}" class="contentPage">
                    <td scope="col" style="text-align: center" th:text="${st1.sINo}">
                    </td>
                    <td scope="col" style="text-align: center" th:text="${st1.salesmanId}">
                    </td>
                    <td scope="col" style="text-align: center" th:text="${st1.product.prodID}">
                    </td>
                    <td scope="col" style="text-align: center" th:text="${st1.salesmanName}">
                    </td>
                    <td scope="col" style="text-align: center" th:text="${st1.DOS}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</ul>
</body>
</html>